<article class="CreateMenuPage">

    <section class="CreateMenuPage__main">

        <h1 class="CreateMenuPage__title">Create Category</h1>
        <h2 class="CreateMenuPage__subtitle">Lets give this category a Name and some Items</h1>

        <section class="CreateMenu__section">
            <%= form_with(url: "/menus", method: "POST", class: "CreateMenu__form") do |create_menu_form| %>

                <div class="CreateMenu__textField">
                    <%= create_menu_form.text_field(:name, class: "CreateMenu__name CreateMenu__input", placeholder: "Name") %>
                </div>

                <section class="CreateMenu__selections">
                    <% selected_items(:create_menu_items_selection).each do |id,item| %>
                        <div class="CreateMenu__selectedItem">
                            <p class="CreateMenu__selectedName"> <%= item["name"] %> </p>
                            <%= create_menu_form.number_field("items[#{id}]", class: "CreateMenu__price", placeholder: "Price") %>
                            <%= link_to(image_tag("close-circle.png"),
                                        unselect_item_path(id, source: "new_menu_path"),
                                        method: "DELETE",
                                        class: "CreateMenu__unselectLink") %>
                        </div>
                    <% end %>
                </section>

                <div class="CreateMenu__submitField">
                    <%= create_menu_form.submit("Create", class: "CreateMenu__submit", :onclick => "hideItemPopupForms()") %>
                </div>

            <% end %>

            <div class="CreateMenu__itemField">
                <%= button_tag("+ Existing Item", type: "button", class: "CreateMenu__addButton", :onclick => "toggleSelectItemForm()") %>
            </div>

            <div class="CreateMenu__itemField">
                <%= button_tag("+ New Item", type: "button", class: "CreateMenu__addButton", :onclick => "toggleCreateItemForm()") %>
            </div>

        </section>

    </section>

    <section class="PopupForm__section" id="selectMenuItemForm">
        <section class="PopupForm__content">

        <h3 class="PopupForm__title"> Select Items </h3>

        <%= form_with(url: "/items/select", method: "POST", class: "SelectMenuItem__form") do |menuitem_form| %>

            <% if non_selected_items(:create_menu_items_selection).length %>
                <div class="SelectMenuItem__selectionField">
                    <%= menuitem_form.collection_check_boxes(:item_id,
                                                            non_selected_items(:create_menu_items_selection),
                                                            :id,
                                                            :name,
                                                            class: "SelectMenuItem__selectionInput") %>
                </div>
            <% else %>
                <div class="SelectMenuItem__info">
                    <p class="SelectMenuItem__infoText">No more items</p>
                </div>
            <%end %>

            <%= menuitem_form.hidden_field(:source, :value => "new_menu_path") %>

            <div class="SelectMenuItem__submitField">
                <%= menuitem_form.submit("Select", class: "SelectMenuItem__submit") %>
            </div>

        <% end %>

        </section>
    </section>

    <section class="PopupForm__section" id="createMenuItemForm">
        <section class="PopupForm__content">

        <h3 class="PopupForm__title"> Create Item </h3>

        <%= form_with(url: "/items", method: "POST", class: "CreateMenuItem__form") do |menuitem_form| %>

            <div class="CreateMenuItem__textField">
                <%= menuitem_form.label(:name, "Item Name", class: "CreateMenuItem__label") %>
                <%= menuitem_form.text_field(:name, class: "CreateMenuItem__textInput") %>
            </div>

            <div class="CreateMenuItem__textField">
                <%= menuitem_form.label(:name, "Description", class: "CreateMenuItem__label") %>
                <%= menuitem_form.text_area(:description,
                                            class: "CreateMenuItem__textInput CreateMenuItem__longTextInput",
                                            rows: "3",
                                            cols: "34") %>
            </div>

            <div class="CreateMenuItem__selectionField">
                <%= menuitem_form.label(:diet_type, "Diet Type", class: "CreateMenuItem__label") %>
                <%= menuitem_form.collection_radio_buttons(:diet_type,
                                                            %w(Veg Egg NonVeg),
                                                            :downcase,
                                                            :to_s,
                                                            class: "CreateMenuItem__selectionInput") %>
            </div>

            <%= menuitem_form.hidden_field(:source, :value => "new_menu_path") %>

            <div class="CreateMenuItem__submitField">
                <%= menuitem_form.submit("Create", class: "CreateMenuItem__submit", :onclick => "hideItemPopupForms()") %>
            </div>

        <% end %>

        </section>
    </section>
