<section class="<%= section_class %> UsersList">

    <h3 class="UsersList__head"> <%= section_head %> </h3>

    <% if !users.empty? %>
      <% users.each do |user| %>
          <section class="UsersList__block <%= section_class %>__block">

            <div class="UsersList__container">
              <div class="UsersList__info">
                <p class="UsersList__nameText UsersList__text"> <%= user.name %> </p>
                <p class="UsersList__emailText UsersList__text"> <%= user.email %> </p>
              </div>

              <% if update_section %>
                <div class="UsersList__edit">
                    <%= link_to(image_tag("edit-black.png", class: "UsersList__editIcon"),
                                "/users/#{user.id}",
                                method: "GET",
                                class: "UsersList__editLink") %>
                </div>

                <div class="UsersList__delete">
                  <%= link_to(image_tag("trash-can-outline-black.png", class: "UsersList__deleteIcon"),
                              "/users/#{user.id}",
                              method: "DELETE",
                              class: "UsersList__deleteLink") %>
                </div>
              <% end %>
            </div>

          </section>
      <% end %>

    <% else %>
      <p class="UsersList__noUser"> No Users </p>
    <% end %>

</section>
