<section class="OrderPage__listing">

    <h2 class="Order__sectionHead"> <%= section_head %> </h2>

    <% orders.each do |order| %>
        <section class="Order__block" >

            <div class="Order__info" >
                <span class="Order__infoHead">
                    <p class="Order__idText"> #<%= order.id %> </p>
                </span>
                <p class="Order__customerNameText"> <%= order.user.name %> </p>
                <p class="CartItemSelect__priceText"> Rs.<%= order.total_price %> </p>
            </div>

            <% if editable %>

                <div class="Order__markComplete">
                    <%= form_with(url: "/orders/#{order.id}",
                                method: "PUT",
                                class: "Order__markCopleteForm",
                                id: "OrderCompleteForm_#{order.id}") do %>
                        <%= image_submit_tag("delivered-check.png",
                                            class: "Order__completeIcon",
                                            form: "CartItemDeleteForm_#{order.id}") %>
                    <% end %>
                </div>

                <div class="Order__delete">
                    <%= form_with(url: "/cart_items/#{order.id}",
                                method: "DELETE",
                                class: "Order__deleteForm",
                                id: "CartItemDeleteForm_#{order.id}") do %>
                        <%= image_submit_tag("trash-can-outline.png",
                                            class: "Order__deleteIcon",
                                            form: "CartItemDeleteForm_#{oder.id}") %>
                    <% end %>
                </div>

            <% end %>

        </section>
    <% end %>
</section>
