<article class="OrdersAdminPage">

        <section class="OrdersAdminPage__filterBlock">

          <%= form_with(url: "/orders/search", method: "POST", class: "OrderAdmin__filterForm") do |filter_form| %>

            <div class="OrderAdmin__filterField">
                <%= filter_form.label(:start_date, "From", class: "OrderAdmin__filterLabel") %>
                <%= filter_form.date_field(:start_date,
                                          class: "OrderAdmin__dateField OrderAdmin__inputField",
                                          max: Date.today,
                                          value: defined?(@start_date) ? @start_date : nil) %>
            </div>

            <div class="OrderAdmin__filterField">
                <%= filter_form.label(:end_date, "Upto", class: "OrderAdmin__filterLabel") %>
                <%= filter_form.date_field(:end_date,
                                          class: "OrderAdmin__dateField OrderAdmin__inputField",
                                          max: Date.today,
                                          value: defined?(@end_date) ? @end_date : nil) %>
            </div>

            <div class="OrderAdmin__filterField">
                <%= filter_form.label(:search_query, "User / Email / Phone", class: "OrderAdmin__filterLabel") %>
                <%= filter_form.text_field(:search_query,
                                            class: "OrderAdmin__queryField OrderAdmin__inputField",
                                            value: defined?(@search_query) ? @search_query : nil) %>
            </div>

            <% if current_user.check_role("owner") %>
              <div class="OrderAdmin__filterField">
                <%= filter_form.label(:status, "Order Status", class: "OrderAdmin__filterLabel") %>
                <%= filter_form.collection_select(:status,
                                                  %w(pending cancelled delivered walk_in all),
                                                  :to_s,
                                                  :humanize,
                                                  {:selected => defined?(@status) ? @status: "all"},
                                                  class: "OrderAdmin__statusField OrderAdmin__inputField"
                                                   ) %>
              </div>
            <% end %>

            <div class="OrderAdmin__apply">
              <%= filter_form.submit("FILTER", class: "OrderAdmin__applyFilters") %>
            </div>

          <% end %>
        </section>

        <section class="OrderAdminPage__mainBlock">

          <% if current_user.check_role("billing_clerk") %>
            <h1 class="OrdersAdminPage__title"> Order Queue </h1>
          <% else %>
            <h1 class="OrdersAdminPage__title"> Order History </h1>
          <% end %>

          <%= render partial: "orderslist-section", locals: {
              editable: true,
              section_head: "Pending Orders",
              orders: @orders.pending,
              shrinkable: false
          } %>

          <% if current_user.check_role("owner") %>
            <%= render partial: "orderslist-section", locals: {
                editable: false,
                section_head: "Past Orders",
                orders: @orders.handled,
                shrinkable: true
            } %>
          <% end %>

        </section>

</article>
