<article class="CartItemSelectPage">

    <h1 class="CartItemSelectPage__title"> Menu </h1>
    <h3 class="CartItemSelectPage__subtitle"> Let's load up that cart! </h3>

    <section class="CartItemSelectPage__colsSection">

      <section class="CartItemSelectPage__existSection">

          <h3 class="CartItemSelect__existTitle"> Your Cart </h3>

          <section class="CartItemSelect__exist">
            <% if @cart_items && !@cart_items.empty? %>
              <% @cart_items.each do |cart_item| %>
                <div class="CartItemSelect__existItem">

                  <div class="CartItemSelect__existInfo" >
                    <span class="CartItemSelect__existInfoHead">
                        <span class="CartItemSelect__existInfoLeft">
                            <p class="CartItemSelect__existText"> <%= cart_item.menu_item.item.name %> </p>
                            <p class="CartItemSelect__existMultiplier"> X <%= cart_item.quantity %> </p>
                        </span>
                        <p class="CartItemSelect__existPrice"> Rs.<%= cart_item.menu_item.price*cart_item.quantity %> </p>
                    </span>
                </div>

                </div>
              <% end %>

              <div class="CartItemSelect__total">
                  <label class="CartItemSelect__totalLabel">Grand Total </label>
                    <p class="CartItemSelect__totalText"> Rs. <%= @total_price %> </p>
              </div>

              <div class="CartItemSelect__viewCart">
                  <%= link_to("Checkout", cart_items_path, class: "CartItemSelect__viewCartLink") %>
              </div>

            <% else %>
              <p class="CartItemSelect__existEmpty"> Looks Empty! </p>
            <% end %>

        </section>

      </section>

      <section class="CartItemSelectPage__listing">
        <% @menus.each do |menu| %>
          <% if !menu.menu_item.empty? %>

            <p class="CartItemSelect__menuName"> <%= menu.name %> </p>

            <% menu.menu_item.each do |menu_item| %>
                <div class="CartItemSelect__block" >

                    <div class="CartItemSelect__info" >
                            <span class="CartItemSelect__infoHead">
                                <p class="CartItemSelect__nameText"> <%= menu_item.item.name %> </p>
                                <p class="CartItemSelect__priceText"> Rs.<%= menu_item.price.to_i %> </p>
                            </span>
                            <p class="CartItemSelect__descText"> <%= menu_item.item.description %> </p>
                    </div>

                    <div class="CartItemSelect__edit <%= menu_item.cart_id_for_user(@order_user) ? "" : "CartItemSelect__editNoDel" %>" >

                        <% if menu_item.cart_id_for_user(@order_user) %>
                            <%= form_with(url: "/cart_items/#{menu_item.cart_id_for_user(@order_user)}",
                                        method: "PUT",
                                        class: "CartItemSelect__modForm",
                                        id: "CartItemModifyForm_#{menu_item.id}") do %>
                                <%= button_tag(image_tag("quantity-add-icon.png"),
                                                class: "CartItemSelect__addQty",
                                                form: "CartItemModifyForm_#{menu_item.id}",
                                                name: "change",
                                                value: "add",
                                                type: "submit") %>
                                <p class="CartItemSelect__qtyText"> <%= menu_item.quantity_for_user(@order_user) %> </p>
                                <%= button_tag(image_tag("quantity-remove-icon.png"),
                                                class: "CartItemSelect__remQty",
                                                form: "CartItemModifyForm_#{menu_item.id}",
                                                name: "change",
                                                value: "remove",
                                                type: "submit") %>

                            <% end %>

                        <% else %>
                            <%= form_with(url: "/cart_items",
                                        method: "POST",
                                        class: "CartItemSelect__createForm",
                                        id: "CartItemCreateForm") do |create_form| %>
                                <%= create_form.button(:Add,
                                                        class: "CartItemSelect__addButton",
                                                        form: "CartItemCreateForm",
                                                        name: "menu_id",
                                                        value: menu_item.id,
                                                        type: "submit") %>
                            <% end %>
                        <% end %>
                    </div>

                    <% if menu_item.cart_id_for_user(@order_user) %>
                        <div class="CartItemSelect__delete">
                            <%= form_with(url: "/cart_items/#{menu_item.cart_id_for_user(@order_user)}",
                                        method: "DELETE",
                                        class: "CartItemSelection__deleteForm",
                                        id: "CartItemDeleteForm_#{menu_item.id}") do %>
                                <%= image_submit_tag("trash-can-outline.png",
                                                    class: "CartItemSelect__deleteIcon",
                                                    form: "CartItemDeleteForm_#{menu_item.id}") %>
                            <% end %>
                        </div>
                    <% end %>

                </div>
            <% end %>
          <% end %>
        <% end %>

      </section>
    </section>

</article>
